$nav-bg: #fffe13;
$field_item_bg: #176dd6;
$main_content_bg: #fff;
$main_content_color: #000;


body {
    font-family: arial; 
    background: #090A43 url(../images/gradient_bg.png)no-repeat top right;
    color: #fff;

    a {
        color:#FFC800;
    }
    a:hover {
        color: $nav-bg;
    }

    ul.nav > li > a:hover {
        color: #000;
        background: $nav-bg;
    }

    div.header1 {
        margin-top: 20px;
        margin-bottom: 20px;

        a.logo {
            width: 88px;
            overflow: hidden;
        }

        section#block-finexcebuslogan {
            float: right;
            margin: 22px 0 0 0;
        }
    }
    div.header-outer-container {
        background: url(../images/outerheader_bg.png) repeat-x bottom center;
        
        header {
            #background: rgb(16,20,157);
            #background: linear-gradient(0deg, rgba(16,20,157,1) 0%, rgba(46,135,201,1) 63%, rgba(181,203,228,1) 100%);
            background: #176dd6;
            border: none !important;
            border-radius: 0px !important;
            margin-bottom: 0px;

            .navbar-header {
                a.logo {
                }
            }
            .navbar-nav > .open .dropdown-menu {
                background-color: #176dd6;
            }
            .navbar-nav > li > a,
            .navbar-nav > .open .dropdown-menu > li > a {
                color: #fff;
            }
            .navbar-nav > li > span {
                color: #fff;
                background-color: transparent;
                cursor: pointer;
                padding: 15px 10px 15px 10px;
                display: block;
                line-height: 20px;
                margin: 0px;
            }
            .navbar-nav > li > a.is-active,
            .navbar-nav > li > a.active,
            .navbar-nav > li > .active-trail,
            .navbar-nav > .open .dropdown-menu > li > .active-trail{
                color: #000;
                background-color: $nav-bg;
            }
            .navbar-nav > li > a:hover,
            .navbar-nav > li.active > a:hover,
            .navbar-nav > li > span:hover,
            .navbar-nav > .open .dropdown-menu > li > a:hover {
                color: #000;
                background-color: $nav-bg;
            }
            .navbar-nav > .open > a, 
            .navbar-nav > .open > a:hover, 
            .navbar-nav > .open > a:focus, {
                color: #000;
                background-color: $nav-bg;	
            }
        }
    }

    section {
        .block-title,
        .page-header {
            color: #000;
            //background: rgb(255,171,76);
            //background: linear-gradient(0deg, rgba(255,171,76,1) 7%, rgba(239,255,0,1) 90%, rgba(0,0,0,1) 100%);
            background: #ffc600;
            height: 30px;
            display: table;
            box-shadow: 0 2px 1px #fff;
            margin-bottom: 2px;
            font-size: 16px;
            width: 100%;
            text-align: center;
            font-weight: bold;
            padding-top: 8px;
            //border-radius: 6px 6px 0px 0px;
            margin-top: 0px;
        }

        .field--item,
        form {
            color: $main_content_color;
            //background: rgb(36,86,148);
            //background: linear-gradient(39deg, rgba(36,86,148,1) 0%, rgba(54,130,207,1) 100%);
            background: $main_content_bg;
            padding: 8px;
            margin-bottom: 15px;
        }
    }

    aside {
        .field--item,
        form {
            //background: rgb(36,86,148);
            //background: linear-gradient(39deg, rgba(36,86,148,1) 0%, rgba(54,130,207,1) 100%);
            background: $field_item_bg;
            padding: 8px;
            margin-bottom: 15px;
        }
    }

    section#block-finexcebuslogan {
        .field--item {
            background: none;
            padding: 0px;
            margin-bottom: 0px;
        }
    }
    section#block-finexcebuslogan2 {
        float: left;
        margin-top: 20px;
        .field--item {
            background: none;
            padding: 0px;
            margin-bottom: 0px;
        }
    }
    section#block-leftblock {
        img {
            margin-right: 10px;
        }
    }

    section#block-coffeetable {
        .field--item {
            background: none;
        }
    }

    section#block-cfo {
        .field--item {
            background: none;
        }
    }
    div.region-header {
        margin-bottom: 20px;
        section.block-views-blockslideshow-block-1 {
            overflow: hidden;
            border: 3px #fff solid;
            margin-bottom: 20px;
            position: relative;

            div.views-field-field-banner-image {
                img {
                    width: 100%;
                }
            }
    
            div.views-field-body{
                position: absolute;
                bottom: 0px;
                width: 100%;
                text-align: center;
                background: url(../images/gray.png);
                height: 70px;
            }
    
            div.views-slideshow-controls-bottom {
                position: absolute;
                bottom: 0px;
                z-index: 9;
                width: 100%;
            }
        }   
    }

    section#block-affiliations {
        .block-title {
            text-align: left;
            background: none;
            border-radius: 0px;
            color: #fff;
            box-shadow: none;
            text-shadow: 2px 3px 4px #000;
        }
        .field--item {
            background: none;
            p {
                a {
                    img {
                        height: 72px;
                        width: 72px;
                        padding: 5px;
                    }
                }
            }
        }
    }
    
    section#block-ad {
        .block-title {
            text-align: left;
            background: none;
            border-radius: 0px;
            color: #fff;
            box-shadow: none;
            text-shadow: 2px 3px 4px #000;
        }
        .field--item {
            background: none;
        }
    }
    
    section#block-partners {
        .block-title {
            text-align: left;
            background: none;
            border-radius: 0px;
            color: #fff;
            box-shadow: none;
            text-shadow: 2px 3px 4px #000;
        }
        .field--item {
            background: none;

            p {
                text-align: center;
                img {
                    margin: 10px;
                }
            }
        }
    }

    .footer {
        margin-top: 0px;
        padding-top: 20px;

        nav#block-finexinfo {
            h2#block-finexinfo-menu {
                font-size: 16px;
                margin: 0px;
                background: #ffc600;
                padding: 10px;
                color: #000;
            }
            ul.menu--finex-info {
                background: #1a3353;

            }
        }

        section#block-footerfinexlogo {
            margin-top: 50px;

            .block-title {
                text-align: left;
                background: none;
                border-radius: 0px;
                color: #fff;
                box-shadow: none;
                text-shadow: 2px 3px 4px #000;
            }
            .field--item {
                background: none;
            }
        }
    }
}

body.path-frontpage {
    h1.page-header {
        display: none;
    }
}