/* line 1, ../sass/style.scss */
body {
  font-family: arial;
  background: #090A43 url(../images/gradient_bg.png) no-repeat top right;
  color: #fff;
}
/* line 6, ../sass/style.scss */
body a {
  color: #FFC800;
}
/* line 9, ../sass/style.scss */
body a:hover {
  color: #fffe13;
}
/* line 13, ../sass/style.scss */
body ul.nav > li > a:hover {
  color: #000;
  background: #fffe13;
}
/* line 18, ../sass/style.scss */
body div.header1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 22, ../sass/style.scss */
body div.header1 a.logo {
  width: 88px;
  overflow: hidden;
}
/* line 27, ../sass/style.scss */
body div.header1 section#block-finexcebuslogan {
  float: right;
  margin: 22px 0 0 0;
}
/* line 32, ../sass/style.scss */
body div.header-outer-container {
  background: url(../images/outerheader_bg.png) repeat-x bottom center;
}
/* line 35, ../sass/style.scss */
body div.header-outer-container header {
  #background: #10149d;
  #background: linear-gradient(0deg, #10149d 0%, #2e87c9 63%, #b5cbe4 100%);
  background: #176dd6;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 0px;
}
/* line 47, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > .open .dropdown-menu {
  background-color: #176dd6;
}
/* line 50, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > a,
body div.header-outer-container header .navbar-nav > .open .dropdown-menu > li > a {
  color: #fff;
}
/* line 54, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > span {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 15px 10px 15px 10px;
  display: block;
  line-height: 20px;
  margin: 0px;
}
/* line 63, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > a.is-active,
body div.header-outer-container header .navbar-nav > li > a.active,
body div.header-outer-container header .navbar-nav > li > .active-trail,
body div.header-outer-container header .navbar-nav > .open .dropdown-menu > li > .active-trail {
  color: #000;
  background-color: #fffe13;
}
/* line 70, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > a:hover,
body div.header-outer-container header .navbar-nav > li > span:hover,
body div.header-outer-container header .navbar-nav > .open .dropdown-menu > li > a:hover {
  color: #000;
  background-color: #fffe13;
}
/* line 76, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > .open > a,
body div.header-outer-container header .navbar-nav > .open > a:hover,
body div.header-outer-container header .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #fffe13;
}
/* line 86, ../sass/style.scss */
body section .block-title,
body section .page-header {
  color: #000;
  background: #ffc600;
  height: 30px;
  display: table;
  box-shadow: 0 2px 1px #fff;
  margin-bottom: 2px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  margin-top: 0px;
}
/* line 105, ../sass/style.scss */
body section .field--item,
body section form {
  background: #176dd6;
  padding: 8px;
  margin-bottom: 15px;
}
/* line 116, ../sass/style.scss */
body section#block-finexcebuslogan .field--item {
  background: none;
  padding: 0px;
  margin-bottom: 0px;
}
/* line 122, ../sass/style.scss */
body section#block-finexcebuslogan2 {
  float: left;
  margin-top: 20px;
}
/* line 125, ../sass/style.scss */
body section#block-finexcebuslogan2 .field--item {
  background: none;
  padding: 0px;
  margin-bottom: 0px;
}
/* line 132, ../sass/style.scss */
body section#block-leftblock img {
  margin-right: 10px;
}
/* line 138, ../sass/style.scss */
body section#block-coffeetable .field--item {
  background: none;
}
/* line 144, ../sass/style.scss */
body section#block-cfo .field--item {
  background: none;
}
/* line 148, ../sass/style.scss */
body div.region-header {
  margin-bottom: 20px;
}
/* line 150, ../sass/style.scss */
body div.region-header section.block-views-blockslideshow-block-1 {
  overflow: hidden;
  border: 3px #fff solid;
  margin-bottom: 20px;
  position: relative;
}
/* line 157, ../sass/style.scss */
body div.region-header section.block-views-blockslideshow-block-1 div.views-field-field-banner-image img {
  width: 100%;
}
/* line 162, ../sass/style.scss */
body div.region-header section.block-views-blockslideshow-block-1 div.views-field-body {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: url(../images/gray.png);
  height: 70px;
}
/* line 171, ../sass/style.scss */
body div.region-header section.block-views-blockslideshow-block-1 div.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 0px;
  z-index: 9;
  width: 100%;
}
/* line 181, ../sass/style.scss */
body section#block-affiliations .block-title {
  text-align: left;
  background: none;
  border-radius: 0px;
  color: #fff;
  box-shadow: none;
  text-shadow: 2px 3px 4px #000;
}
/* line 189, ../sass/style.scss */
body section#block-affiliations .field--item {
  background: none;
}
/* line 193, ../sass/style.scss */
body section#block-affiliations .field--item p a img {
  height: 72px;
  width: 72px;
  padding: 5px;
}
/* line 204, ../sass/style.scss */
body section#block-ad .block-title {
  text-align: left;
  background: none;
  border-radius: 0px;
  color: #fff;
  box-shadow: none;
  text-shadow: 2px 3px 4px #000;
}
/* line 212, ../sass/style.scss */
body section#block-ad .field--item {
  background: none;
}
/* line 218, ../sass/style.scss */
body section#block-partners .block-title {
  text-align: left;
  background: none;
  border-radius: 0px;
  color: #fff;
  box-shadow: none;
  text-shadow: 2px 3px 4px #000;
}
/* line 226, ../sass/style.scss */
body section#block-partners .field--item {
  background: none;
}
/* line 229, ../sass/style.scss */
body section#block-partners .field--item p {
  text-align: center;
}
/* line 231, ../sass/style.scss */
body section#block-partners .field--item p img {
  margin: 10px;
}
/* line 238, ../sass/style.scss */
body .footer {
  margin-top: 0px;
  padding-top: 20px;
}
/* line 243, ../sass/style.scss */
body .footer nav#block-finexinfo h2#block-finexinfo-menu {
  font-size: 16px;
  margin: 0px;
  background: #ffc600;
  padding: 10px;
  color: #000;
}
/* line 250, ../sass/style.scss */
body .footer nav#block-finexinfo ul.menu--finex-info {
  background: #1a3353;
}
/* line 256, ../sass/style.scss */
body .footer section#block-footerfinexlogo {
  margin-top: 50px;
}
/* line 259, ../sass/style.scss */
body .footer section#block-footerfinexlogo .block-title {
  text-align: left;
  background: none;
  border-radius: 0px;
  color: #fff;
  box-shadow: none;
  text-shadow: 2px 3px 4px #000;
}
/* line 267, ../sass/style.scss */
body .footer section#block-footerfinexlogo .field--item {
  background: none;
}

/* line 275, ../sass/style.scss */
body.path-frontpage h1.page-header {
  display: none;
}
