/* line 1, ../sass/style.scss */
body {
  font-family: arial;
  background: #090A43 url(../images/gradient_bg.png) no-repeat top right;
  color: #fff;
}
/* line 6, ../sass/style.scss */
body a {
  color: #FFC800;
}
/* line 9, ../sass/style.scss */
body a:hover {
  color: #fffe13;
}
/* line 13, ../sass/style.scss */
body div.header1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 17, ../sass/style.scss */
body div.header1 a.logo {
  width: 88px;
  overflow: hidden;
}
/* line 22, ../sass/style.scss */
body div.header1 section#block-finexcebuslogan {
  float: right;
  margin: 22px 0 0 0;
}
/* line 27, ../sass/style.scss */
body div.header-outer-container {
  background: url(../images/outerheader_bg.png) repeat-x bottom center;
}
/* line 30, ../sass/style.scss */
body div.header-outer-container header {
  #background: #10149d;
  #background: linear-gradient(0deg, #10149d 0%, #2e87c9 63%, #b5cbe4 100%);
  background: #0007ff;
  border: none !important;
  border-radius: 0px !important;
  margin-bottom: 0px;
}
/* line 42, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > .open .dropdown-menu {
  background-color: #0007ff;
}
/* line 45, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > a,
body div.header-outer-container header .navbar-nav > .open .dropdown-menu > li > a {
  color: #fff;
}
/* line 49, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > span {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 15px 10px 15px 10px;
  display: block;
  line-height: 20px;
  margin: 0px;
}
/* line 58, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > a.active,
body div.header-outer-container header .navbar-nav > li > .active-trail,
body div.header-outer-container header .navbar-nav > .open .dropdown-menu > li > .active-trail {
  color: #000;
  background-color: #fffe13;
}
/* line 64, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > li > a:hover,
body div.header-outer-container header .navbar-nav > li > span:hover,
body div.header-outer-container header .navbar-nav > .open .dropdown-menu > li > a:hover {
  color: #000;
  background-color: #fffe13;
}
/* line 70, ../sass/style.scss */
body div.header-outer-container header .navbar-nav > .open > a,
body div.header-outer-container header .navbar-nav > .open > a:hover,
body div.header-outer-container header .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #fffe13;
}
/* line 80, ../sass/style.scss */
body section .block-title {
  color: #000;
  background: #ffab4c;
  background: linear-gradient(0deg, #ffab4c 7%, #efff00 90%, black 100%);
  height: 30px;
  display: table;
  box-shadow: 0 2px 1px #fff;
  margin-bottom: 2px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 8px;
  border-radius: 6px 6px 0px 0px;
}
/* line 96, ../sass/style.scss */
body section .field--item {
  background: #245694;
  background: linear-gradient(39deg, #245694 0%, #3682cf 100%);
  padding: 8px;
}
/* line 104, ../sass/style.scss */
body section#block-finexcebuslogan .field--item {
  background: none;
  padding: 0px;
}
/* line 109, ../sass/style.scss */
body section#block-finexcebuslogan2 {
  float: left;
  text-transform: capitalize;
  margin-top: 20px;
}
/* line 113, ../sass/style.scss */
body section#block-finexcebuslogan2 .field--item {
  background: none;
  padding: 0px;
}
/* line 119, ../sass/style.scss */
body section#block-leftblock img {
  margin-right: 10px;
}
/* line 125, ../sass/style.scss */
body section#block-coffeetable .field--item {
  background: none;
}
/* line 132, ../sass/style.scss */
body section.block-views-blockslideshow-block-1 div.views-field-field-banner-image img {
  width: 100%;
}
/* line 137, ../sass/style.scss */
body section.block-views-blockslideshow-block-1 div.views-field-body {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: url(../images/gray.png);
  height: 70px;
}

/* line 149, ../sass/style.scss */
body.path-frontpage h1.page-header {
  display: none;
}
